<form class="form-login needs-validation" autocomplete="off" [formGroup]="formChangePassword" (ngSubmit)="changePassword()">
    <div class="form-group form-group-custom">
        <label class="m-0 mb-1">Contraseña</label>
        <input type="password" formControlName="password" class="form-control" placeholder="* Contraseña" placement="right" [class.is-invalid]="getPassword">
        <div *ngIf="getPassword" class="invalid-feedback animate__animated animate__fadeIn animate__fast">
            <span class="badge badge-pill badge-danger d-block mt-2 text-left">Debes ingresar una contraseña</span>
        </div>
        <div *ngIf="(f.password.touched) && f.password.errors?.minlength" class="invalid-feedback animate__animated animate__fadeIn animate__fast">
            <span class="badge badge-pill badge-danger d-block mt-2 text-left">Debes ingresar mínimo {{ f.password.errors.minlength.requiredLength }} caracteres</span>
        </div>
    </div>
    <div class="form-group form-group-custom">
        <label class="m-0 mb-1">Confirmar contraseña</label>
        <input type="password" formControlName="confirmPassword" class="form-control" placeholder="* Confirmar contraseña" placement="right" [class.is-invalid]="getConfirmPassword" onpaste="return false" oncut="return false" oncopy="return false">
        <div *ngIf="getConfirmPassword" class="invalid-feedback animate__animated animate__fadeIn animate__fast">
            <span class="badge badge-pill badge-danger d-block mt-2 text-left">Debes confirmar tu contraseña</span>
        </div>
        <div *ngIf="(f.confirmPassword.touched) && f.confirmPassword.errors?.minlength" class="invalid-feedback animate__animated animate__fadeIn animate__fast">
            <span class="badge badge-pill badge-danger d-block mt-2 text-left">Debes ingresar mínimo {{ f.confirmPassword.errors.minlength.requiredLength }} caracteres</span>
        </div>
        <div *ngIf="(f.confirmPassword.touched) && f.confirmPassword.errors" class="invalid-feedback animate__animated animate__fadeIn animate__fast">
            <span class="badge badge-pill badge-danger d-block mt-2 text-left">La contraseña no coincide</span>
        </div>
    </div>
    <div class="form-group m-0">
        <button [disabled]="utilitiesService.loading" class="btn btn-credits btn-next btn-block mt-1 mb-3">
            <span *ngIf="utilitiesService.loading" class="spinner-border spinner-border-sm mr-1"></span>
            Continuar
        </button>
    </div>
</form>