<form class="form-login needs-validation" autocomplete="off" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
    <div class="form-group form-group-custom">
        <label class="m-0 mb-1">Número de documento</label>
        <input type="number" formControlName="document" class="form-control" placeholder="* Número de documento" placement="right" min="1" [class.is-invalid]="getDocument">
        <div *ngIf="getDocument" class="invalid-feedback animate__animated animate__fadeIn animate__fast">
            <span class="badge badge-pill badge-danger d-block mt-2 text-left">Número de documento es requerido</span>
        </div>
        <div *ngIf="(f.document.touched) && f.document.errors?.min" class="invalid-feedback animate__animated animate__fadeIn animate__fast">
            <span class="badge badge-pill badge-danger d-block mt-2 text-left">Debes ingresar mínimo 6 dígitos</span>
        </div>
        <div *ngIf="(f.document.touched) && f.document.errors?.max" class="invalid-feedback animate__animated animate__fadeIn animate__fast">
            <span class="badge badge-pill badge-danger d-block mt-2 text-left">Debes ingresar máximo 15 dígitos</span>
        </div>
        <div *ngIf="(f.document.touched) && f.document.errors?.pattern" class="invalid-feedback animate__animated animate__fadeIn animate__fast">
            <span class="badge badge-pill badge-danger d-block mt-2 text-left">Debes ingresar dígitos positivos</span>
        </div>
    </div>
    <div class="form-group form-group-custom">
        <label class="m-0 mb-1">Contraseña</label>
        <input type="password" formControlName="password" class="form-control" placeholder="* Contraseña" placement="right" [class.is-invalid]="getPassword">
        <div *ngIf="getPassword" class="invalid-feedback animate__animated animate__fadeIn animate__fast">
            <span *ngIf="f.password.errors.required" class="badge badge-pill badge-danger d-block mt-2 text-left">Contraseña es requerida</span>
        </div>
        <div *ngIf="(f.password.touched) && f.password.errors?.minlength" class="invalid-feedback animate__animated animate__fadeIn animate__fast">
            <span class="badge badge-pill badge-danger d-block mt-2 text-left">Debes ingresar mínimo {{ f.password.errors.minlength.requiredLength }} caracteres</span>
        </div>
    </div>
    <div class="form-group m-0">
        <button [disabled]="utilitiesService.loading" class="btn btn-credits btn-signin btn-block mt-1 mb-1">
            <span *ngIf="utilitiesService.loading" class="spinner-border spinner-border-sm mr-1"></span>
            Ingresar
        </button>
    </div>
</form>